apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: dummy
  namespace: dummy
spec:
  serviceName: "dummy"
  replicas: 1
  selector:
    matchLabels:
      app: dummy
  template:
    metadata:
      labels:
        app: dummy
    spec:
      containers:
      - name: dummy
        image: vvang/dummy:amd64
        securityContext:
          privileged: true
          runAsUser: 0
        ports:
        - containerPort: 80
          name: web
        volumeMounts:
        - name: data
          mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Mi

