127.0.0.1 localhost
::1 localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters


{% for ansible_host in groups['all'] %}
{%     set hostname = ansible_host.split('.').0 %}
{%     if ansible_host == hosts_gw  %}
{{  hostvars[ansible_host]['int_ip']  }}    {{ ansible_host }}    {{  hostname  }} {{ ext_dns_name }}
{%     else %}
{{  hostvars[ansible_host]['int_ip']  }}    {{ ansible_host }}    {{  hostname  }}
{%     endif %}
{% endfor %}

