---
- hosts: localhost
  gather_facts: false
  connection: local
  name: Show kube cluster nodes
  vars:
    K: "{{ playbook_dir }}/.kubeconfig"

  tasks:
    - kubernetes.core.k8s_info:
        kind: Node
        kubeconfig: "{{ K }}"
      register: ks8_nodes

    - debug:
        msg: "{{ ks8_nodes }}"

