---
- hosts: localhost
  gather_facts: false
  connection: local
  name: Install Minio operator
  vars:
    NS: "minio-operator"
    iname: "minio"
  tasks:
    - name: minio helm repo
      kubernetes.core.helm_repository:
        name: minio-operator
        repo_url: https://operator.min.io

    - include_tasks: tasks/namespace.yaml

    - include_tasks: tasks/issuer.yaml

    - name: minio helm install
      kubernetes.core.helm:
        name: minio-operator
        chart_ref: minio-operator/operator
        chart_version: "{{ minio_operator_chart_version|default('') }}"
        namespace: "{{ NS }}"
        values:
          console:
            ingress:
              enabled: true
              ingressClassName: nginx
              host: "minio-operator.{{ ext_dns_name }}"
              path: /
              pathType: Prefix
              number: 9090
              annotations: 
                cert-manager.io/issuer: letsencrypt-minio
                nginx.ingress.kubernetes.io/backend-protocol: HTTP
                nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
              tls:
              - hosts:
                - "minio-operator.{{ ext_dns_name }}"
                secretName: minio-tls

 
#eof
